---
import type { Translate } from "@i18n/utils";

interface Props {
  t: Translate;
  height: string;
  title: string;
  subtitle: string;
}

const { t, title, subtitle, height } = Astro.props;
---

<section
  class:list={["relative mx-auto flex h-screen max-w-7xl items-center justify-center pt-24 pb-16", height]}
>
  <div class="absolute inset-0 overflow-hidden">
    <slot />
    <div class="absolute inset-0 bg-black/40"></div>
  </div>
  <div class="relative z-8 text-center text-white">
    <h1
      class="font-title mb-6 text-6xl tracking-tighter md:text-8xl lg:text-9xl"
    >
      {title}
    </h1>
    <p class="mx-auto max-w-2xl text-xl font-medium md:text-2xl">
      {subtitle}
    </p>
  </div>
</section>
