---
interface Props {
  to: string;
  label: string;
}

const { to, label } = Astro.props;
---

<a
  href={to}
  aria-label={`Visit my ${label} profile`}
  target="_blank"
  class="bg-secondary text-primary hover:scale-110 flex cursor-pointer items-center justify-center rounded-full p-2 transition-transform duration-300"
>
  <slot />
</a>
