---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: string;
  to: string;
}

const { lang, to } = Astro.props;
---

<a
  href={getRelativeLocaleUrl(lang, `gallery/${to}`)}
  class="group bg-secondary text-primary inline-flex items-center gap-3 rounded-2xl px-4 py-2 text-lg font-bold transition-all duration-300 hover:scale-105 hover:opacity-80"
>
  <slot />
</a>
