---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: string;
  to: string;
}

const { lang, to } = Astro.props;
---

<a
  href={getRelativeLocaleUrl(lang, `gallery/${to}`)}
  class="group border-secondary text-secondary hover:bg-secondary hover:text-primary inline-flex items-center justify-center gap-1.5 rounded-full border px-2 py-0.5 text-base font-medium transition-colors duration-300"
>
  <slot />
</a>
