---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: string;
  to: string;
}

const { lang, to } = Astro.props;
---

<a
  href={getRelativeLocaleUrl(lang, to)}
  class="border-secondary hover:bg-secondary hover:text-primary rounded-full border px-4 py-2 transition-colors duration-300"
>
  <slot />
</a>
